<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />   
     <title>Document</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- JQuery -->
    <script type="text/javascript" src="/js/JQuery/jquery.js"></script>

 
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="/css/bootstrap/js/bootstrap.min.js"></script>
    
    <script src="/js/Chart.min.js"></script>
    <script src="/js/ScriptDesPages/Client.js"></script>
<script src="/vue.js"></script>




</head>