<%- include('head') %>
<link rel="stylesheet" href="/css/styleScene.css">
<script src="/vue.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<body>
    <nav class="navbar navbar-light py-0 bg-light navbar-expand-sm py-md-0 ">
        <button class="navbar-toggler mt-1" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="navbar-collapse collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item py-0"><a href="/presentation" class="nav-link  ">Table de mixage</a></li>
                <li class="nav-item py-0"><a href="/scene" class="nav-link active">Scènes</a></li>
                <li class="nav-item py-0"><a href="/melangeur" class="nav-link ">Espace de couleurs </a></li>
                <li class="nav-item py-0"><a href="/jeux" class="nav-link ">Saturation</a></li>


            </ul>
            <ul class="nav justify-content-center">
                <label class="switch">
                    <input onchange="changerbackground()" id="backgroundChange" type="checkbox">
                    <span class="slider round"></span>
                </label>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item py-0"><button id="help" onclick="information()">Help</button>

        </div>
        </ul>
    </nav>
    <div id="loader">
        <div class="circle"></div>
    </div>
    <div id="Total">

        <div id="row" class="row">
            <div id="myDiv" class="col-8"></div>
            <div class="col-3">
                <div id="buttonajouter">
                    <button id="plus" onclick="BPAjouterBouton()" class="btn btn-success btn-circle btn-sm">Ajoutez scènes</button>
                </div>
                <button onclick="BPDeleteCaisson()" type="button" class="btn btn-danger btn-circle btn-sm">Supprimezscènes</button>
                <button onclick=" BPChargerScene()" type="button" class="btn btn-charger btn-circle btn-sm">Chargezscènes</button>
                <div id="sala">
                    <p1 id="errortext"></p1>
                    <div id="containersModifer">
                        <input type="text" id="renameTextInput" placeholder="nom de scène" minlength="2" maxlength="10">
                        <button onclick=" BPModifierNom()" type="button" class="btn btn-modifer btn-circle btn-sm"></button>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
    <div id="rotationInterdit">
        <p>La page n'est pas adapté pour le mode portrait. Remettez-vous en mode paysage.
        </p>
      </div>

    </div>
    <%- include('../page_information/ScènesInformationAdmin.ejs') %>

    <script src="/js/ScriptDesPages/nav.js"></script>
    <script src="/js/ScriptDesPages/Scene.js"></script>
    <script>
        // Permet de changer le background de la page 
        //Valeur d'entrée : aucune
        //Valeur retournée : aucune 

        /////////////////////////////////////
        function modifierScene() {
            // selectionner la scène que l'on veux 
            //pouvoir changer le nom et ajouter un csv 
        }
        let bool = 0;

        var listScene = document.getElementsByClassName("scene");
        console.log(listScene.length);

        //Permet de crée un bouton qui est une scene predefini

        function ajouterScene(name) {
            var listScene = document.getElementsByClassName("scene");
            for (i = 0; i <= listScene.length; i++) 
            {
                console.log(listScene.length);
                var btn = document.createElement("input");
                var newDiv = document.createElement("div");

                //Gestion du bouton
                btn.innerHTML = name;
                btn.setAttribute("type", "checkbox");
                btn.setAttribute("id", "button" + i);
                btn.setAttribute("style", "background-color: white");
                btn.setAttribute("class", "scene");
                // Gestion du label
                var label = document.createElement("label");
                label.setAttribute("for", "button" + i);
                label.setAttribute("id", "button" + i);
                label.setAttribute("class", "label");
                label.innerHTML = name;
                //Gestion de la div
                newDiv.setAttribute("style", "background-color: white");
                newDiv.setAttribute("class", "diva");
                newDiv.setAttribute("id", "div" + i);
                newDiv.setAttribute("onclick", "selectionnerScene(this.id)");

            }
            //récupere la div pour les scènes
            var p = document.getElementById("myDiv");
            //ajout de la div créer dans la div des scènes
            p.appendChild(newDiv);
            //ajout dans la div créer le checkbox et le label
            newDiv.appendChild(btn);
            newDiv.appendChild(label);
        }

        //permet de selectionner une ou plusieurs scenes qui seront supprimer
        function selectionnerScene(id) {
            div = document.querySelector("#" + id);
            console.log(div)
            div2 = document.getElementById(id);
            if (div.firstChild.checked === false) {
                div.firstChild.checked = true;
                div2.style.border = '4px solid red';
            } else {
                div.firstChild.checked = false;
                div2.style.border = "none";
            }

        }


        function supprimerBouton(BtnToDelete) {
            // prendre l'element un de la div puis regarder si il est checké
            var d = document.querySelectorAll(".diva");
            for (elt of d) {
                //si l'élement est checké, le supprimer
                if (elt.innerText === BtnToDelete)
                    elt.remove();
            }


        }
    </script>
</body>