<%- include('head.ejs') %>

<link rel="stylesheet" href="/css/styleSaturation.css">
<link rel="stylesheet" href="/css/styleGlobal.css">
<script src="/vue.js"></script>

</head>
<body onload="chargerLoader()">
    

    <nav class="navbar navbar-light py-0 bg-light navbar-expand-sm py-md-0 ">
        <button class="navbar-toggler mt-1" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
    </button>
    <div class="navbar-collapse collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item py-0"><a href="/presentation" class="nav-link ">Table de mixage</a></li>
            <li class="nav-item py-0"><a href="/scene" class="nav-link ">Scènes</a></li>
            <li class="nav-item py-0"><a href="/melangeur" class="nav-link ">Espace de couleurs </a></li>
            <li class="nav-item py-0"><a href="/jeux" class="nav-link active">Saturation</a></li>
            
            
        </ul>
        <ul class="nav justify-content-center">
            <label class="switch">
                <input onchange="changerbackground()" id="backgroundChange" type="checkbox">
                <span class="slider round"></span>
            </label>
        </ul>
        <ul class="navbar-nav ml-auto">
            <div class="form-inline my-2 my-lg-0">    
                <div id="choixCaisson">
                    <select class="form-control" v-model="selected" onchange=changeCaisson()>
                        <option v-for="option in options" v-bind:value="option.value">
                            {{ option.text + " "+ option.value }}
                        </option>
                    </select>
                </div>
                
                <li class="nav-item py-0"><button id="help" onclick="information()">Help</button>
                    
                </div>
            </ul>
        </nav>
        <div id="loader">
            <div class="circle"></div>
        </div>
        
        <div id="Total">
    <div id="containersAll">
    <div id="containerJeux">
        <div id="containersCouleurs">
            <p id="couleur_p"> Choisissez une couleur dominante</p>
            <div id="containersChoixcouleur">
                <div id="boutonCouleur">
                    <button v-bind:value="option.value" onclick="selectionnerbutton(this.id)"
                        v-bind:style="{'background-color': option.background,'color':option.color}"
                        class="boutonCouleur" v-bind:id="option.id_btn"
                        v-for="option in Couleur">{{ option.text }}</button>
                    </div>
                    <button class="flecheCouleur" onclick="changerCurseur()" >Cliquez pour les blancs</button>
            </div>
        </div>

        <div id="containersBlanc">
            <p id="blanc_p"> Choisissez un blanc </p>
            <div id="containersChoixBlanc">
                <div id="Blanc">
                    <button v-bind:value="option.value" onclick="selectionnerbutton(this.id)"
                    v-bind:style="{'background-color': option.background,'color':option.color}" class="boutonCouleur"
                    v-bind:id="option.id_btn" v-for="option in Blanc">{{ option.text }}</button>
                </div>
                <button class="flecheCouleur" onclick="changerCurseur()" >Cliquez pour les couleurs</button>
            </div>
        </div>
           
    </div>
    <div id="border"></div>

        <div id="containerCurseurs">
            <div class=" CIE">
                <cie-xy-chart class="graphCIE" width="250px" height="275px"></cie-xy-chart>
            </div>
            <div id="containers">
            <div id="curseurCouleur">
                <h1 id="valeurCurseur1">0%</h1>
                <input type="range" id="id_nm_390" class="curseur1" oninput="commanderCouleur()">
            </div>
            <div id="curseurBlancJeux">
                <h1 id="valeurCurseur2">0%</h1>
                <input type="range" id="id_2700K-IRC=98" oninput="commanderBlanc()" class="curseurBlanc1">
            </div>
            <div id="couleurMélange"></div>
        </div>
    </div>
</div>
    </div>
    </div>

    <%- include('../page_information/SaturationInformation.ejs') %>
   
    <div id="rotationInterdit">
        <p>La page n'est pas adapté pour le mode portrait. Remettez-vous en mode paysage.
        </p>
      </div>

    <script src="/js/ScriptDesPages/nav.js"></script>
    <script>

//////////Variables//////////////

        
       


  //met la div des curseurs blanc en "none".
  document.getElementById('containersChoixBlanc').style.display = 'none';
  document.getElementById('blanc_p').style.display = 'none';


  var curseurCouleur = true; //variable permettant de chacher ou non la div des curseurs couleurs selon le clique du bouton


 
        //fonction qui permet de changer les div des boutons de couleur lors du click du 
        //Valeur d'entrée : aucune
        //Valeur retournée : aucune 
        function changerCurseur() {
            if (curseurCouleur !=true) {
                document.getElementById("containersChoixcouleur").style.display = 'flex';
                document.getElementById('containersChoixBlanc').style.display = 'none';

                document.getElementById('blanc_p').style.display = 'none';
                document.getElementById('couleur_p').style.display = 'block';
                curseurCouleur = true;
            } else {
                document.getElementById("containersChoixcouleur").style.display = 'none';
                document.getElementById('containersChoixBlanc').style.display = 'flex';

                document.getElementById('blanc_p').style.display = 'block';
                document.getElementById('couleur_p').style.display = 'none';
                curseurCouleur = false;
            }
        }
	//VueJs
        var CaissonVueModel = new Vue({
            el: '#choixCaisson',
            data: {
              counter: 0,
              selected: 1,
              message: "",
              caisson: "Caisson",
              options: [{
                  text: 'Caisson',
                  value: 1
                },
                {
                  text: 'Caisson',
                  value: 2
                },
                {
                  text: 'Caisson',
                  value: 3
                },
                {
                  text: 'Caisson',
                  value: 4
                },
              ],
              value: 5
            },
        
            //methode pour le vue.JS
            methods: {
              ajouterCaisson: function () {
                this.options.push({
                  text: this.caisson,
                  value: this.value
                })
                this.value++
              },
              supprimerCaisson: function () {
                this.options.pop()
                this.value--
              }
            }
          })

		var idColor;//recuperer l'id des curseurs de couleurs
		var idBlanc; //recuperer l'id des curseurs blanc
       
        // permet de selectionner et de créer les curseurs selon les s
        //Valeur d'entrée : aucune
        //Valeur retournée : aucune 
        function selectionnerbutton(id) {
            //tablaeu de valeur des boutons de couleur
            const valueNm = [390, 403, 405, 410, 425, 440, 450, 470, 480, 490, 502, 512, 520, 530, 544, 590, 605, 620,
                629, 630, 655, 660, 680, 730
            ];
            //tableau des valeur des bouton de blanc
            const valueBlanc = [270098, 300083, 300098, 400082, 400097, 500099, 560083, 650097];
            //recuperation de la valeur des couleurs sélectionner
            var couleur = parseInt(document.getElementById(id).value);
            //recuperation de la valeur des blancs sélectionner
            var blanc = parseInt(document.getElementById(id).value);
            //prendre l'index de la  valeur du boutons couleur par rapport au tableau
            var index = valueNm.indexOf(couleur);
            //prendre l'index de la  valeur du boutons blanc par rapport au tableau
            var index2 = valueBlanc.indexOf(blanc);

            //création des curseurs
            if (index != "-1") {
                console.log("salut");
                document.getElementsByTagName("input")[1].remove();
                data.XYZ.Couleur.X = vm.Couleur[index].valueX;
                data.XYZ.Couleur.Y = vm.Couleur[index].valueY;
                data.XYZ.Couleur.Z = vm.Couleur[index].valueZ;
                //creation du curseurs de couleur en fonction de l'index
                var BoutonCouleur = document.createElement("input");
                BoutonCouleur.setAttribute("type", "range");
                BoutonCouleur.setAttribute("id", vm.Couleur[index].id_curseur);
                BoutonCouleur.setAttribute("class", vm.Couleur[index].class_curseur);
                BoutonCouleur.setAttribute("oninput", "commanderCouleur()");
                document.getElementById("curseurCouleur").appendChild(BoutonCouleur);
                CalculMélangeCouleurBlanc();

                

            } else if(index2!="-1"){
                //creation du curseurs de blanc en fonction de l'index
                document.getElementsByTagName("input")[2].remove();
                data.XYZ.Blanc.X = vm.Blanc[index2].valueX;
                data.XYZ.Blanc.Y = vm.Blanc[index2].valueY;
                data.XYZ.Blanc.Z = vm.Blanc[index2].valueZ;
                var boutonBlanc = document.createElement("input");
                boutonBlanc.setAttribute("type", "range");
                boutonBlanc.setAttribute("id", vm.Blanc[index2].id_curseur);
                boutonBlanc.setAttribute("class", vm.Blanc[index2].class_curseur);
                boutonBlanc.setAttribute("oninput", "commanderBlanc()");
                document.getElementById("curseurBlancJeux").appendChild(boutonBlanc);
                CalculMélangeCouleurBlanc();
				
            } 
			idColor = document.getElementsByTagName("input")[1].id;
			idBlanc = document.getElementsByTagName("input")[2].id;
			  ajustCursorColor();
			  ajustCursorBlanc();
			 

        }

/////////Vue js pour la création des boutons
        var vm = new Vue({
            el: '#containerJeux',
            data: {
                counter: 0,
                selected: "",
                message: "",
                curseurCouleur: true,
                caisson: "Caisson",
                //valeur de toute les couleurs avec leur XYZ et les xy
                Couleur: [{
                        text: '390 nm',
                        value: 390,
                        valuex: 0.1818,
                        valuey: 0.0388,
                        valueX: 25.7,
                        valueY: 5.49,
                        valueZ: 110.4,
                        id_btn: "btn_id_nm_390",
                        id_curseur: "id_nm_390",
                        class_curseur: "curseur1",
                        background: "#79008d",
                        color: "white"
                    },
                    {
                        text: '403 nm',
                        value: 403,
                        valuex: 0.1701,
                        valuey: 0.0411,
                        valueX: 92.5,
                        valueY: 22.3,
                        valueZ: 428.9,
                        id_btn: "btn_id_nm_403",
                        id_curseur: "id_nm_403",
                        class_curseur: "curseur2",
                        background: "#8200c8",
                        color: "white"
                    },
                    {
                        text: '405 nm',
                        value: 405,
                        valuex: 0.1739,
                        valuey: 0.021,
                        valueX: 66.5,
                        valueY: 8.03,
                        valueZ: 308,
                        id_btn: "btn_id_nm_405",
                        id_curseur: "id_nm_405",
                        class_curseur: "curseur3",
                        background: "#8300c0",
                        color: "white"
                    },
                    {
                        text: '410 nm',
                        value: 410,
                        valuex: 0.1722,
                        valuey: 0.0146,
                        valueX: 230,
                        valueY: 19.5,
                        valueZ: 1086,
                        id_btn: "btn_id_nm_410",
                        id_curseur: "id_nm_410",
                        class_curseur: "curseur4",
                        background: "#7e00db",
                        color: "white"
                    },
                    {
                        text: '425 nm',
                        value: 425,
                        valuex: 0.169,
                        valuey: 0.0126,
                        valueX: 602.9,
                        valueY: 44.8,
                        valueZ: 2919,
                        id_btn: "btn_id_nm_425",
                        id_curseur: "id_nm_425",
                        class_curseur: "curseur5",
                        background: "#5400ff",
                        color: "white"
                    },
                    {
                        text: '440 nm',
                        value: 440,
                        valuex: 0.1608,
                        valuey: 0.0184,
                        valueX: 1154,
                        valueY: 121.8,
                        valueZ: 5889,
                        id_btn: "btn_id_nm_440",
                        id_curseur: "id_nm_440",
                        class_curseur: "curseur6",
                        background: "#0000ff",
                        color: "white"
                    },
                    {
                        text: '450 nm',
                        value: 450,
                        valuex: 0.1587,
                        valuey: 0.0205,
                        valueX: 1044,
                        valueY: 134.8,
                        valueZ: 5397,
                        id_btn: "btn_id_nm_450",
                        id_curseur: "id_nm_450",
                        class_curseur: "curseur7",
                        background: "#0046ff",
                        color: "white"
                    },
                    {
                        text: '470 nm',
                        value: 470,
                        valuex: 0.1199,
                        valuey: 0.0992,
                        valueX: 490.9,
                        valueY: 406,
                        valueZ: 3197,
                        id_btn: "btn_id_nm_470",
                        id_curseur: "id_nm_470",
                        class_curseur: "curseur8",
                        background: "#00a9ff",
                        color: "white"
                    },
                    {
                        text: '480 nm',
                        value: 480,
                        valuex: 0.0946,
                        valuey: 0.1994,
                        valueX: 189.4,
                        valueY: 399.4,
                        valueZ: 1414,
                        id_btn: "btn_id_nm_480",
                        id_curseur: "id_nm_480",
                        class_curseur: "curseur9",
                        background: "#00d5ff",
                        color: "white"
                    },
                    {
                        text: '490 nm',
                        value: 490,
                        valuex: 0.0757,
                        valuey: 0.0757,
                        valueX: 119.5,
                        valueY: 519.7,
                        valueZ: 940.4,
                        id_btn: "btn_id_nm_490",
                        id_curseur: "id_nm_490",
                        class_curseur: "curseur10",
                        background: "#00ffff",
                        color: "black"
                    },
                    {
                        text: '502 nm',
                        value: 502,
                        valuex: 0.0721,
                        valuey: 0.5899,
                        valueX: 102.2,
                        valueY: 836.7,
                        valueZ: 479.6,
                        id_btn: "btn_id_nm_502",
                        id_curseur: "id_nm_502",
                        class_curseur: "curseur11",
                        background: "#00ff7b",
                        color: "black"
                    },
                    {
                        text: '512 nm',
                        value: 512,
                        valuex: 0.1215,
                        valuey: 0.6821,
                        valueX: 133.6,
                        valueY: 750,
                        valueZ: 215.9,
                        id_btn: "btn_id_nm_512",
                        id_curseur: "id_nm_512",
                        class_curseur: "curseur12",
                        background: "#0fff00",
                        color: "black"
                    },
                    {
                        text: '520 nm',
                        value: 520,
                        valuex: 0.1940,
                        valuey: 0.7289,
                        valueX: 394.2,
                        valueY: 1486,
                        valueZ: 157,
                        id_btn: "btn_id_nm_520",
                        id_curseur: "id_nm_520",
                        class_curseur: "curseur13",
                        background: "#36ff00",
                        color: "black"
                    },
                    {
                        text: '530 nm',
                        value: 530,
                        valuex: 0.1867,
                        valuey: 0.7374,
                        valueX: 346.3,
                        valueY: 1368,
                        valueZ: 140.7,
                        id_btn: "btn_id_nm_530",
                        id_curseur: "id_nm_530",
                        class_curseur: "curseur14",
                        background: "#5eff00",
                        color: "black"
                    },
                    {
                        text: '544 nm',
                        value: 544,
                        valuex: 0.4035,
                        valuey: 0.5393,
                        valueX: 1227,
                        valueY: 1641,
                        valueZ: 173.8,
                        id_btn: "btn_id_nm_544",
                        id_curseur: "id_nm_544-lime",
                        class_curseur: "curseur15",
                        background: "#8fff00",
                        color: "black"
                    },
                    {
                        text: '590 nm',
                        value: 590,
                        valuex: 0.5738,
                        valuey: 0.4249,
                        valueX: 731.2,
                        valueY: 541.5,
                        valueZ: 1.64,
                        id_btn: "btn_id_nm_590",
                        id_curseur: "id_nm_590",
                        class_curseur: "curseur16",
                        background: "#ffdf00",
                        color: "black"
                    },
                    {
                        text: '605 nm',
                        value: 605,
                        valuex: 0.6278,
                        valuey: 0.3710,
                        valueX: 865.5,
                        valueY: 510.5,
                        valueZ: 1.49,
                        id_btn: "btn_id_nm_605",
                        id_curseur: "id_nm_605",
                        class_curseur: "curseur17",
                        background: "#ffad00",
                        color: "white"
                    },
                    {
                        text: '620 nm',
                        value: 620,
                        valuex: 0.6693,
                        valuey: 0.3300,
                        valueX: 1498,
                        valueY: 738.5,
                        valueZ: 2.03,
                        id_btn: "btn_id_nm_620",
                        id_curseur: "id_nm_620",
                        class_curseur: "curseur18",
                        background: "#ff7700",
                        color: "white"
                    },
                    {
                        text: '629 nm',
                        value: 629,
                        valuex: 0.6442,
                        valuey: 0.3302,
                        valueX: 2072,
                        valueY: 1062,
                        valueZ: 82.5,
                        id_btn: "btn_id_nm_629",
                        id_curseur: "id_nm_629-pc",
                        class_curseur: "curseur19",
                        background: "#ff5300",
                        color: "white"
                    },
                    {
                        text: '630 nm',
                        value: 630,
                        valuex: 0.6919,
                        valuey: 0.3073,
                        valueX: 990.8,
                        valueY: 440,
                        valueZ: 1.15,
                        id_btn: "btn_id_nm_630",
                        id_curseur: "id_nm_630",
                        class_curseur: "curseur20",
                        background: "#ff4f00",
                        color: "white"
                    },
                    {
                        text: '655 nm',
                        value: 655,
                        valuex: 0.7174,
                        valuey: 0.2812,
                        valueX: 440.9,
                        valueY: 172.8,
                        valueZ: 0.891,
                        id_btn: "btn_id_nm_655",
                        id_curseur: "id_nm_655",
                        class_curseur: "curseur21",
                        background: "#ff0000",
                        color: "white"
                    },
                    {
                        text: '660 nm',
                        value: 660,
                        valuex: 0.719,
                        valuey: 0.2788,
                        valueX: 366.6,
                        valueY: 141.8,
                        valueZ: 1.63,
                        id_btn: "btn_id_nm_660",
                        id_curseur: "id_nm_660",
                        class_curseur: "curseur22",
                        background: "#ff0000",
                        color: "white"
                    },
                    {
                        text: '680 nm',
                        value: 680,
                        valuex: 0.721,
                        valuey: 0.2742,
                        valueX: 209,
                        valueY: 79.5,
                        valueZ: 1.38,
                        id_btn: "btn_id_nm_680",
                        id_curseur: "id_nm_680",
                        class_curseur: "curseur23",
                        background: "#ff0000",
                        color: "white"
                    },
                    {
                        text: '730 nm',
                        value: 730,
                        valuex: 0.6634,
                        valuey: 0.2706,
                        valueX: 4.96,
                        valueY: 2.02,
                        valueZ: 0.494,
                        id_btn: "btn_id_nm_730",
                        id_curseur: "id_nm_730",
                        class_curseur: "curseur24",
                        background: "#fc8000",
                        color: "white"
                    }
                ],
                //valeur de tous les blancs avec leur XYZ et les xy
                Blanc: [{
                        text: '2700_IRC=98',
                        value: 2700_98,
                        valuex: 0.4624,
                        valuey: 0.4138,
                        valueX: 711.2,
                        valueY: 636.4,
                        valueZ: 190.4,
                        id_btn: "btn_id_irc_98_2700",
                        id_curseur: "id_2700K-IRC=98",
                        class_curseur: "curseurBlanc1",
                        background: "#FFA757",
                        color: "white"
                    },
                    {
                        text: '3000_IRC=83',
                        value: 3000_83,
                        valuex: 0.4356,
                        valuey: 0.4036,
                        valueX: 1639,
                        valueY: 1518,
                        valueZ: 605.1,
                        id_btn: "btn_id_irc_83_3000",
                        id_curseur: "id_3000K-IRC=83",
                        class_curseur: "curseurBlanc2",
                        background: "#FFB16E",
                        color: "white"
                    },
                    {
                        text: '3000_IRC=98',
                        value: 3000_98,
                        valuex: 0.4413,
                        valuey: 0.4068,
                        valueX: 707.1,
                        valueY: 651.9,
                        valueZ: 243.5,
                        id_btn: "btn_id_irc_98_3000",
                        id_curseur: "id_3000K-IRC=98",
                        class_curseur: "curseurBlanc3",
                        background: "#FFB16E",
                        color: "white"
                    },
                    {
                        text: '4000_IRC=82',
                        value: 4000_82,
                        valuex: 0.3863,
                        valuey: 0.3835,
                        valueX: 1587,
                        valueY: 1576,
                        valueZ: 946,
                        id_btn: "btn_id_irc_82_4000",
                        id_curseur: "id_4000K-IRC=82",
                        class_curseur: "curseurBlanc4",
                        background: "#FFCEA6",
                        color: "white"
                    },
                    {
                        text: '4000_IRC=97',
                        value: 4000_97,
                        valuex: 0.3871,
                        valuey: 0.392,
                        valueX: 967.4,
                        valueY: 979.7,
                        valueZ: 551.9,
                        id_btn: "btn_id_irc_97_4000",
                        id_curseur: "id_4000K-IRC=97",
                        class_curseur: "curseurBlanc5",
                        background: "#FFCEA6",
                        color: "black"
                    },
                    {
                        text: '5000_IRC=99',
                        value: 5000_99,
                        valuex: 0.3492,
                        valuey: 0.3622,
                        valueX: 927.5,
                        valueY: 92.2,
                        valueZ: 766.6,
                        id_btn: "btn_id_irc_99_5000",
                        id_curseur: "id_5000K-IRC=99",
                        class_curseur: "curseurBlanc6",
                        background: "#FFE4CE",
                        color: "black"
                    },
                    {
                        text: '5600_IRC=83',
                        value: 5600_83,
                        valuex: 0.3322,
                        valuey: 0.3446,
                        valueX: 1604,
                        valueY: 1663,
                        valueZ: 1561,
                        id_btn: "btn_id_irc_83_5600",
                        id_curseur: "id_5600K-IRC=83",
                        class_curseur: "curseurBlanc7",
                        background: "#FFEFE1",
                        color: "black"
                    },
                    {
                        text: '6500_IRC=97',
                        value: 6500_97,
                        valuex: 0.3213,
                        valuey: 0.3427,
                        valueX: 365.8,
                        valueY: 390.2,
                        valueZ: 382.7,
                        id_btn: "btn_id_irc_97_6500",
                        id_curseur: "id_6500K-IRC=97",
                        class_curseur: "curseurBlanc8",
                        background: "#FFFEFA",
                        color: "black"
                    }
                ]
            },
        })
    </script>
    <script type="text/javascript" src="/js/ScriptDesPages/scriptSaturation.js"></script>
</body>

</html>