<div id="information">

    <div id="titreInfo">
        <h1>Guide d'utilisation de l'espace de couleur</h1>
    </div>
    <div id="etapeUtilisation">
        <ol>
        <li><p id="etape1"> Choisir 3 couleurs afin de définir les sommets du triangle </p>
       <p> Ces couleurs permettent de faire un mélange complet RGB afin de visualiser le rendu sur un diagramme CIE</p></li>
        <li>
            <p id="etape2">Faire bouger les curseurs afin de déplacer le pointeur du diagramme CIE pour obtenir <br>le mélange des 3 couleurs.</p>
            <p>Le diagramme CIE permet la representation de toute les chrominances des couleurs perceptibles.</p>
        </li>
        <li> <p id="etape3">Comparez la couleur trouvée avec celle de la dalle.</p></li>
        </ol>
        <button onclick="information()" id="buttonJaiCompris"> J'ai compris ! </button>
        
    </div>
</div>
