<div id="information">

    <div id="titreInfo">
        <h1>Guide d'utilisation de la saturation</h1>
    </div>
    <div id="etapeUtilisation">
        <ol>
        <li><p id="etape1"> Choissir une couleur parmi les 24 couleurs aux choix. </p>
       <p> Ces couleurs permettent de paramétrer la couleur dominante sur la dalle </p></li>
        <li><p id="etape2"> Cliquez sur <strong>"Cliquez pour les blancs"</strong> afin de pouvoir sélectionner les blancs.</p>
        <p> Les blancs permettent de modifier la saturation à la couleur dominante choisit.</p>
        <p> </p>
    </li>
        <li>
            <p id="etape3">Faire bouger les curseurs afin de déplacer le pointeur du diagramme CIE pour obtenir <br>le mélange des deux couleurs.</p>
            <p>Le diagramme CIE permet la representation de toute les chrominances des couleurs perceptibles. <br>Avec l'ajout du blanc, le pointeur se dirige plus proche du blanc(centre) du diagramme </p>
        </li>
        <li>
            <p id="etape3">Pour intéragir avec les autres dalles, changer le caisson en haut à droite. <br></p>
        </li>
        <li> <p id="etape5">Comparez la couleur trouvée avec celle de la dalle.</p></li>
        </ol>
        <button onclick="information()" id="buttonJaiCompris"> J'ai compris ! </button>
        
    </div>
</div>
