<div id="information">

    <div id="titreInfo">
        <h1>Guide d'utilisation des scènes</h1>
    </div>
    <div id="etapeUtilisation">
        <ol>
        <li><p id="etape1"> Appuyer Ajouter une scènes (par défaut, toute les lumières sont éteints) </p>
      
        <li><p id="etape2">Sélectionner une ou plusieurs scènes. Les scènes sélectionner sont entourés en rouge.</p>
        <p> Cliquez sur <strong>supprimer scène</strong> pour les supprimer</p>
    </li>
        <li>
            <p id="etape3">Renommer si voulut une scène. Il n'ait possible de renommer qu'une seule scène à la fois. </p>
           <p>Vous devez écrire un nom entre 2 et 10 caractères.</p> 
        </li>
        <li>
            <p id="etape3"> Vous pouvez selectionner une scène pour la voir sur la dalle. <br></p>
            <p>Vous pouvez séléctionner plusieurs scènes afin de definir une boucle en seconde afin qu'elle se joue un par un automatiquement.</p>
        </li>
        </ol>
        
    </div>
    <button onclick="information()" id="buttonJaiCompris"> J'ai compris ! </button>
</div>
