<div id="information">

    <div id="titreInfo">
        <h1>Guide d'utilisation des tables de mixage</h1>
    </div>
    <div id="etapeUtilisation">
        <ol>
        <li><p id="etape1"> Bougez les curseurs de couleurs afin de créer un spectre lumineux. 
           <br> Chaque curseur fait bouger un point sur le spectre. Il y a 24 curseurs de couleurs qui correspondent <br>aux canaux disponibles de la dalle pour les couleurs.</p>
    
        <li><p id="etape2">Pour afficher les blancs qui permettent de rajouter de la saturation, cliquez sur <strong>"Cliquez pour les blancs".</strong>
            <br>8 curseurs blancs seront affichés à l'écran. <br><strong>Attention:</strong> les curseurs blancs n'agissent que sur la dalle et non sur le spectre affiché.</p>
        <p> Pour revenir aux curseurs de couleurs, cliquez sur <strong>"Cliquez pour les couleurs"</strong></p>
    </li>
        <li>
            <p id="etape3">Pour changer de dalle, cliquez en haut à droite sur <strong>"Caisson1"</strong> pour avoir un menu déroulant et intéragir avec.</p>
        </li>
       
        </ol>
        
    </div>
    <button onclick="information()" id="buttonJaiCompris"> J'ai compris ! </button>
</div>
